/* base */
/* color palette */
/* variables responsive */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

*, *::before, *::after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem !important;
  line-height: 2;
  background-color: #C4D8F2; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style-type: none;
  padding: 0; }

h1 {
  color: #3372B8; }

.container {
  max-width: 95%;
  margin: 0 auto; }

.text-center {
  text-align: center; }

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.p-y-3 {
  padding: 3rem 0; }

.m-t-3 {
  margin-top: 3rem; }

.btn--index {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #CFE2F3;
  max-width: 30rem;
  width: 80%;
  height: 8rem;
  background-color: #CFE2F3;
  border-radius: 1.5rem;
  border: 1px solid black;
  margin-bottom: 3rem; }
  .btn--index h3 {
    margin: 0; }

.card-container {
  display: flex;
  flex-direction: column;
  column-gap: 3rem;
  margin: 0 auto;
  max-width: 80%;
  justify-content: space-between;
  align-items: center; }
  .card-container .card {
    border-radius: 1.5rem;
    background-color: #f4e2d6;
    margin-bottom: 3rem;
    color: #337d74;
    -webkit-box-shadow: 1px 4px 4px -1px #000000;
    box-shadow: 1px 4px 4px -1px #000000; }
    .card-container .card h2 {
      color: #A61458; }
    .card-container .card h3 {
      margin: 0; }
    .card-container .card .card-item {
      row-gap: 2rem; }
      .card-container .card .card-item:last-of-type {
        margin-bottom: 2rem; }
      .card-container .card .card-item .little-card {
        border: 1px solid black;
        padding: 0 2rem;
        background-color: #d9e6f7; }
    .card-container .card .videocall {
      position: relative; }
      .card-container .card .videocall .main-img {
        margin-top: 2rem;
        max-width: 45rem;
        max-height: 35rem; }
      .card-container .card .videocall .secondary-img {
        position: absolute;
        max-width: 12rem;
        max-height: 10rem;
        left: 0;
        top: 20px; }
  .card-container .videocall-on i {
    font-size: 4rem;
    padding: 0 2rem;
    margin: 2rem 0; }

/* app */
.app-container {
  margin: 0 auto;
  max-width: 80%; }
  .app-container .app {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto; }
    .app-container .app img {
      align-items: center;
      justify-content: center;
      -webkit-box-shadow: 1px 4px 4px -1px #000000;
      box-shadow: 1px 4px 4px -1px #000000; }

/* sections */
/* --------------- nav --------------- */
.logo {
  font-size: 3rem;
  text-align: center;
  background-color: #CFE2F3; }
  .logo img {
    max-width: 15rem; }

.logo h1 {
  margin: 0; }

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly; }

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #CFE2F3;
  row-gap: 2rem; }
  footer .container-text {
    max-width: 50%;
    margin: 0 auto; }
  footer img {
    max-width: 15rem; }
  footer:last-of-type {
    padding-bottom: 3rem; }
  footer h4 {
    margin: 0; }

/* pages */
/* --------------- main --------------- */
.hero {
  background-image: url("../img/therapyHero.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50rem;
  width: 100%; }

.main__contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.formulario {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 60rem;
  width: 95%;
  height: 80%;
  padding: 2rem;
  background-color: #f4e2d6;
  border-radius: 1.6rem;
  margin-bottom: 3rem; }
  .formulario #nombre, .formulario #apellido {
    width: 100%; }
  .formulario #phone {
    width: 100%; }
  .formulario textarea {
    width: 100%;
    height: 20rem; }

#nombre, #phone, #apellido {
  height: 3rem;
  margin-bottom: 1rem; }

/* responsive */
@media (min-width: 768px) {
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3rem;
    margin: 0 auto;
    max-width: 95%;
    justify-content: space-between;
    align-items: center; }
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start; }
    footer .container-text {
      max-width: 80%; }
    footer .footer-item {
      margin-top: 5rem; }
      footer .footer-item div {
        margin-top: 2rem; }
      footer .footer-item .social-media i {
        font-size: 3rem;
        padding-right: 1rem; }
        footer .footer-item .social-media i:last-of-type {
          padding: 0; }
  .app-container .app {
    display: grid;
    grid-template-columns: 40% 60%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto; } }
