/* --------------- main --------------- */

.hero {

    background-image: url('../img/therapyHero.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
    width: 100%;
}


.main__contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


