
@media (min-width: $medium ) { 
    .card-container {

    
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 3rem;
        margin: 0 auto;
        max-width: 95%;
        justify-content: space-between;
        align-items: center;

        
    

    }


    

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: start;

        

        .container-text {
            max-width: 80%;
        }

        .footer-item {
            margin-top: 5rem;
            
            div {
                margin-top: 2rem;

            
                }

            .social-media {

                i {
                    font-size: 3rem;
                    padding-right:1rem;

                    &:last-of-type {
                        padding: 0;
                    }
                }
            }
        }
        
    }


    .app-container {

        .app {
            display: grid;
            grid-template-columns: 40% 60%;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
        }
    }

 }