
.container {
    max-width: 95%;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}


.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.p-y-3 {
    padding: 3rem 0;
}