

/* color palette */

$backgroundColor: #C4D8F2;
$btn-primary:  #CFE2F3;
$complementaryLight: #E8D9BC;
$complementaryDark: #9C865F;
$titleh2: #A61458;
$backgroundCards: lighten(#E8BFA5, 12%);
$pCards: darken(#A3D9D3, 40%);



/* variables responsive */

$small: 480px;
$medium: 768px;
$large: 1080px;
$xl: 1445px;
